<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%=title %></title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div
      class="container w-25 mt-4 text-center"
      style="height: auto"
      id="startContainer"
    >
      <h2>Permainan Kata</h2>
      <form
        method="post"
        action="http://localhost:3004/api/v1/start"
        id="start"
      >
        <input
          type="submit"
          class="btn btn-danger w-100"
          value="Mulai Permainan"
          id="startButton"
        />
      </form>
    </div>
    <div
      class="container w-25 mt-4 text-center"
      style="height: auto"
      id="gameContainer"
    >
      <h2>Permainan Kata telah dimulai!</h2>
      <div id="game-info">
        <span id="current-letter"></span>
        <span id="remaining-time"></span>
      </div>
      <div
        class="alert alert-danger alert-dismissible fade show"
        role="alert"
        id="alertConfirm"
      >
        <strong>Kata tidak terdaftar</strong> coba lagi!
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="alert"
          aria-label="Close"
        ></button>
      </div>
      <div
        class="alert alert-danger alert-dismissible fade show"
        role="alert"
        id="gameSummary"
      >
        <strong>GAME SUMMARY</strong> nih
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="alert"
          aria-label="Close"
        ></button>
      </div>
      <!-- <div
        class="alert alert-danger alert-dismissible fade show"
        role="alert"
        id="alertTime"
      >
        <strong>Waktu anda sudah habis!</strong>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="alert"
          aria-label="Close"
        ></button>
      </div> -->
      <div id="countdown"></div>

      <form id="word-form">
        <input type="text" id="word-input" placeholder="Enter a word..." />
        <button class="btn btn-danger" id="submitWord" type="submit">
          Submit
        </button>
      </form>
      <div id="submitted-words"></div>
      <div id="scores"></div>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <script src="/socket.io/socket.io.js"></script>

    <script>
      // connect socket io
      const socket = io();
      socket.on('connect', () => console.log('coba bisa ga'));
      socket.on('bisa', () => console.log('coba bisa emit?'));

      // Get element Id
      const startContainer = document.getElementById('startContainer');
      const gameContainer = document.getElementById('gameContainer');
      const submitWord = document.getElementById('submitWord');
      const wordInput = document.getElementById('word-input');
      const alertConfirm = document.getElementById('alertConfirm');
      const gameSummary = document.getElementById('gameSummary');
      const countdownElement = document.getElementById('countdown');
      let currentLetterSave;

      // display set
      gameSummary.style.display = 'none';
      alertConfirm.style.display = 'none';
      startContainer.style.display = 'block';
      gameContainer.style.display = 'none';

      // Handle button when click start
      startButton.addEventListener('click', (e) => {
        e.preventDefault();
        socket.emit('startGame', 'start');
        startContainer.style.display = 'none';
        gameContainer.style.display = 'block';
      });

      // socket for start the game;
      let gameIdSave;
      socket.on('game-started', ({ gameId, currentLetter }) => {
        gameIdSave = gameId;
        currentLetterSave = currentLetter;
        document.getElementById('current-letter').innerHTML = currentLetter;

        // TIMEOUT
        countdownElement.innerHTML = `${seconds} seconds left`;
        updateCountdown();
      });

      // SET TIME
      let seconds = 10;

      // function for countdown
      function updateCountdown() {
        seconds -= 1;
        countdownElement.innerHTML = `${seconds} seconds left`;
        if (seconds > 0) {
          setTimeout(updateCountdown, 1000);
        } else {
          socket.emit('gameOver', { gameIdSave: gameIdSave });
          console.log('gameOver', gameIdSave);
          countdownElement.innerHTML = "Time's up!";
        }
      }

      // handle submit word
      submitWord.addEventListener('click', (e) => {
        e.preventDefault();
        console.log('wordInput', wordInput.value);
        console.log('currentLetter', currentLetterSave);

        const word = wordInput.value;
        const firstCharWordInput = word[0];

        if (currentLetterSave === firstCharWordInput) {
          // SOCKET EMIT TO SERVER FOR FIND THE WORLD
          socket.emit('findWord', { word: word, gameId: gameIdSave });
          wordInput.value = '';
        } else {
          console.log('salah tuh kata-nya');
          wordInput.value = '';
        }
      });

      // SOCKET ON LISTENING IS THERE ANY WORD SAME ON DB
      socket.on('wordFinded', ({ confirm }) => {
        if (confirm === 'finded') {
          console.log('kata ada di db lanjutkan!');
        } else if (confirm === 'null') {
          console.log('kata tidak ada di db cari yang lain!');
        } else if (confirm === 'duplicate') {
          console.log('kata sudah ada, cari kata lain!');
        }
      });

      // HASIL DARI GAME
      socket.on('gameSummary', ({ words, score }) => {
        gameSummary.style.display = 'block';
        console.log('words', words);
        console.log('score', score);
      });
    </script>
  </body>
</html>
